<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.damocles.interceptluckymoney">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:persistent="true"
            android:theme="@style/AppTheme">

        <!--mta平台注册的appkey-->
        <meta-data android:name="TA_APPKEY" android:value="${TA_APPKEY}"/>
        <!--mta平台使用的渠道号-->
        <meta-data android:name="InstallChannel" android:value="${InstallChannel}"/>

        <activity
                android:name="com.damocles.interceptluckymoney.MainActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
                android:label="@string/app_name"
                android:name="com.damocles.interceptluckymoney.service.InterceptLuckyMoneyService"
                android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter android:priority="1000">
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data
                    android:name="android.accessibilityservice"
                    android:resource="@xml/service_config"/>
        </service>
    </application>

</manifest>
